<section class="section section--quarter bg-white">
  <h2 class="font-serif type-1">Latest updates</h2>
  <ul class="row">
    {% assign delay_count = 0 %}
    {% for post in posts limit:3 %}
    {% assign delay_count = delay_count | plus: 50 %}
    <li class="col col--1of3 bg-pattern" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
      <article class="card">
        <a href="https://blog.openaccessbutton.org/{{ post.slug }}/" target="_blank" rel="noopener" style="display: block;">
          <h3 class="card__header label label--secondary">{{ post.title }}</h3>
          <div class="card__body" style="padding: 0;">
            {%- if post.feature_image -%}
              <img src="{{ post.feature_image }}" class="card__img"/>
            {% else %}
              <div class="card__blank bg-pattern__child"></div>
            {% endif %}
          </div>
          <footer class="card__footer card__footer--inverted" style="padding: var(--space-xs);">
            <time datetime="{{ post.updated_at }}"><small>{{ post.updated_at | date: "%b %d, %Y" }}</small></time>
          </footer>
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
