<section class="section section--quarter bg-white">
  <h2 class="font-serif type-1">Latest updates</h2>
  <ul class="row">
    {% assign delay_count = 0 %}
    {% for post in posts limit:3 %}
    {% assign delay_count = delay_count | plus: 50 %}
    <li class="col col--1of3 bg-pattern" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
      <article class="card">
        <a href="https://blog.openaccessbutton.org/{{ post.slug }}/" target="_blank" rel="noopener" style="display: block; overflow: hidden;">
          {%- if post.feature_image -%}
            <img src="{{ post.feature_image | img_url }}" alt="blab" class="card__img"/>
          {% else %}
            <div class="card__blank bg-pattern__child"></div>
          {% endif %}
          <div class="flex-space-between card__body">
            <p>
              <time datetime="{{ post.updated_at }}"><small>{{ post.updated_at | date: "%b %d, %Y" }}</small></time>
            </p>
            <h3 class="type-4">{{ post.title }}</h3>
          </div>
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
