<aside class="section section--quarter align-center flex-center border-top">
  <ul class="type-2 font-serif inlined-list no-margin">
    <li>
      <a href="https://github.com/OAButton/" target="_blank" rel="noopener" class="flash-colours">Open-source</a>
    </li>
    <li>
      <a href="{{ site.base_url }}/about/values/" class="flash-colours">Values-driven</a>
    </li>
    <li>
      <a href="{{ site.base_url }}/resources/governance/" class="flash-colours">Non-profit</a>
    </li>
  </ul>
</aside>

<footer class="row footer">
  <a class="top" href="#top" id="topBtn" aria-label="Back to top">
    <span class="top__icon">&#8593;</span>
  </a>

  <nav class="col col--2of3">
    <div class="row">
      <div class="col col--1of2">
        <h2 class="label">Products</h2>
        <ul>
          {% for product in products %}
          {% if product.featured %}
          <li>
            <a href="{% if item.url contains 'https' %}{% else %}{{ site.base_url }}{% endif %}{{ item.url }}" {% if item.url contains 'https' %} target="_blank" rel="noopener"{% endif %}>
              {{ product.name }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% for item in navigation.products %}
          <li>
            <a href="{% if item.url contains 'https' %}{% else %}{{ site.base_url }}{% endif %}{{ item.url }}" {% if item.url contains 'https' %} target="_blank" rel="noopener"{% endif %}>
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <h2 class="label">People</h2>
        <ul>
          {% for item in navigation.people %}
          <li>
            <a href="{{ site.base_url }}{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col col--1of2">
        <h2 class="label">About</h2>
        <ul>
          {% for item in navigation.about %}
          <li>
            <a href="{{ site.base_url }}{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <h2 class="label">Impact</h2>
        <ul>
          {% for item in navigation.impact %}
          <li>
            <a href="{{ site.base_url }}{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="col col--1of3 flex-space-between flex-col">
    <div>
      <h2 class="label">Connect with us</h2>
      <ul class="inlined-list">
        <li>
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">Github</a>
        </li>
        <li>
          <a href="{{ site.blog }}" target="_blank" rel="noopener">Blog</a>
        </li>
      </ul>
    </div>
    <a href="/" class="footer__logo">{% include 'logos/logotype.svg' %}</a>
  </div>

  <div class="col footer__legal">
    <h2 class="sr-only">Resources</h2>
    <ul>
      {% for item in navigation.resources %}
      <li>
        <a href="{{ site.base_url }}{{ item.url }}">
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="align-center"><small>This website’s content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons Attribution 4.0 International License</a>.</small></p>
  </div>
</footer>
