<header class="flex-space-between header{% if theme == 'dark' %} header--inverted{% endif %}" id="header">
  <a href="{{ baseurl }}/" title="Return to home page" class="header__logo" id="headerLogo">
    <h1 class="no-margin">{% include 'logos/logotype.svg' %}</h1>
  </a>

  <ul class="header__featured-items">
    {% for item in navigation %}
      {% for subitem in item[1] %}
        {% if subitem.featured %}
          <li><a href="{{ site.base_url }}{{ subitem.url }}" class="label">{{ subitem.text }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <div>
    <button class="menu-trigger" aria-label="Open menu" id="menuBtn">
      <span class="menu-trigger__icon"></span>
      <span class="menu-trigger__icon"></span>
      <span class="menu-trigger__icon"></span>
    </button>
  </div>

  <nav class="row header__nav">
    <h2 class="sr-only">Table of contents</h2>
    <div class="flex" style="width: 100%;">
      <ul class="header__list">
        <li>
          <span class="header__nav-section">Products</span>
          <ul>
            {% for item in navigation.products %}
            <li>
              <a href="{% if item.url contains 'https' %}{% else %}{{ site.base_url }}{% endif %}{{ item.url }}" {% if item.url contains 'https' %} target="_blank" rel="noopener"{% endif %} class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">People</span>
          <ul>
            {% for item in navigation.people %}
            <li>
              <a href="{{ site.base_url }}{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="header__list">
        <li>
          <span class="header__nav-section">About</span>
          <ul>
            {% for item in navigation.about %}
            <li>
              <a href="{{ site.base_url }}{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">Impact</span>
          <ul>
            {% for item in navigation.impact %}
            <li>
              <a href="{{ site.base_url }}{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <form id="newsletter">
      <label for="email">Sign up to our newsletter</label>
      <div class="flex">
        <input class="_oaworks_form" type="email" placeholder="you@institution.edu" required="required" name="email" id="email"/>
        <button type="submit" id="submit" aria-label="submit" value="Submit Request" href="/newsletter/thanks/">Sign up</button>
      </div>
    </form>
    <ul>
      <li>
        <span class="header__nav-section">Contact</span>
        <ul class="inlined-list">
          <li>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" class="header__nav-subsection">Twitter<a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener" class="header__nav-subsection">Github<a>
          </li>
          <li>
            <a href="{{ site.blog }}" target="_blank" rel="noopener" class="header__nav-subsection">Blog<a>
          </li>
        </ul>
      </li>
      <li>
        <span class="header__nav-section">Support</span>
        <ul class="inlined-list">
          {% for item in navigation.support %}
          <li>
            <a href="{% if item.url contains 'https' %}{% else %}{{ site.base_url }}{% endif %}{{ item.url }}" {% if item.url contains 'https' %} target="_blank" rel="noopener"{% endif %} class="header__nav-subsection">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <span class="header__nav-section">Resources</span>
        <ul class="inlined-list">
          {% for item in navigation.resources %}
          <li>
            <a href="{{ site.base_url }}{{ item.url }}" class="header__nav-subsection">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>
