<ul class="unstyled-list full-width-list">
  {% assign delay_count = 0 %}
  {% for person in team %}
  {% assign delay_count = delay_count | plus: 100 %}
  <li data-sal="slide-up" data-sal-delay="{{ delay_count }}">
    <article class="row">
      <div class="col col--1of6">
        {% if person.img %}
        <figure class="portrait portrait--circular" style="background-color: var(--{{ person.colour }});">
          <img src="../img/{{ person.img }}" alt="Portrait of {{ person.name }}"/>
        </figure>
        {% endif %}
      </div>
      <div class="col col--2of3">
        <p class="label">{{ person.role }}</p>
        <h2 class="type-3">{{ person.name }}</h2>
        <p>{{ person.bio }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
