<ul class="unstyled-list full-width-list">
  {% assign delay_count = 0 %}
  {% for person in team %}
  {% assign delay_count = delay_count | plus: 100 %}
  <li data-sal="slide-up" data-sal-delay="{{ delay_count }}">
    <article class="row">
      <div class="col col--1of6">
        {% if person.img %}
        <figure class="portrait portrait--circular" style="background-color: var(--{{ person.colour }});">
          <img src="../img/{{ person.img }}" alt="Portrait of {{ person.name }}"/>
        </figure>
        {% endif %}
      </div>
      <div class="col col--2of3">
        <p class="label">{{ person.role }}</p>
        <h2 class="type-3">{{ person.name }}</h2>
        <p>{{ person.bio }}</p>
        <dl class="unstyled-list">
          {% if person.email %}
          <dt>Email</dt>
          <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
          {% endif %}
          {% if person.twitter %}
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/{{ person.twitter }}" target="_blank" rel="noopener">@{{ person.twitter }}</a></dd>
          {% endif %}
          {% if person.github %}
          <dt>Github</dt>
          <dd><a href="https://github.com/{{ person.github }}" target="_blank" rel="noopener">@{{ person.github }}</a></dd>
          {% endif %}
        </dl>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
