{% for person in advisory_committee %}
{% assign delay_count = delay_count | plus: 100 %}
<li data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <article class="row">
    <div class="col col--1of6">
      {% if person.img %}
      <figure class="portrait portrait--circular">
        <img src="../../assets/img/{{ person.img }}" alt="Headshot of {{ person.name }}"/>
      </figure>
      {% endif %}
    </div>
    <div class="col col--2of3">
      <p class="label">{{ person.role }}</p>
      <h2 class="type-3">
        {{ person.name }}
        <span class="type-6">({{ person.pronouns }})</span>
      </h2>
      <p>{{ person.bio }}</p>
      <p class="type-6 font-sans">{{ person.position }}</p>
      <dl class="unstyled-list row type-6">
        {% if person.email %}
        <div class="col col--1of3">
          <dt class="label">Email</dt>
          <dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
        </div>
        {% endif %}
        {% if person.twitter %}
        <div class="col col--1of3">
          <dt class="label">Twitter</dt>
          <dd><a href="https://twitter.com/{{ person.twitter }}" target="_blank" rel="noopener">@{{ person.twitter }}</a></dd>
        </div>
        {% endif %}
        {% if person.github %}
        <div class="col col--1of3">
          <dt class="label">Github</dt>
          <dd><a href="https://github.com/{{ person.github }}" target="_blank" rel="noopener">@{{ person.github }}</a></dd>
        </div>
        {% endif %}
        {% if person.orcid %}
        <div class="col col--1of3">
          <dt class="label">ORCID</dt>
          <dd><a href="https://orcid.org/{{ person.orcid }}" target="_blank" rel="noopener">{{ person.orcid }}</a></dd>
        </div>
        {% endif %}
      </dl>
    </div>
  </article>
</li>
{% endfor %}
