{% for product in archived %}
{% assign delay_count = delay_count | plus: 50 %}
<li class="col card-wrapper" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <p class="label label--secondary line-thru">
    <small class="line-thru__inner bg-white label">{{ product.label }}</small>
  </p>

  <article class="flex-col flex-space-between row">
    <figure class="col col--1of4">
      <img
        src="../../assets/img/{{ product.img }}" alt="Screenshot of {{ product.name }}"
        loading="lazy"
        decoding="async"
        width="1200"
        height="675"
      >
    </figure>

    <div class="col col--3of4">
      <h2 class="font-serif-bold">{{ product.name }}</h2>
      <div>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </article>
</li>
{% endfor %}
