{% for partner in partners %}
{% assign delay_count = delay_count | plus: 100 %}
<li data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <article class="row">
    <div class="col col--1of6">
      {% if partner.img %}
      <figure class="portrait portrait--circular">
        <img src="/assets/img/{{ partner.img }}" alt="{{ partner.img_alt }}"/>
      </figure>
      {% endif %}
    </div>
    <div class="col col--2of3">
      <p class="label">{{ partner.name }}</p>
      <h2 class="type-3">{{ partner.person }}</h2>
      <p>{{ partner.reason }}</p>
    </div>
  </article>
</li>
{% endfor %}
