{% for story in stories %}
{% assign delay_count = delay_count | plus: 50 %}
<li class="col col--1of3 card-wrapper" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <article class="flex-col flex-space-between card card--small">
    <header class="card__header">
      <h3 class="label">OA.W<span style="text-transform: lowercase;">orks for</span> {{ story.label }}</h3>
    </header>
    <figure>
      <img src="{{ site.base_url }}/img/stories/{{ story.img }}" alt="{{ story.img_alt }}" class="card__img"/>
      <figcaption><small>{{ story.img_credit }}</small></figcaption>
    </figure>
    <div class="card__body">
      <blockquote>
        <p>“{{ story.content }}”</p>
      </blockquote>
      <p class="margin-bottom-sm"><small class="label label--secondary">Written in search of</small></p>
      <p class="font-serif type-5 no-margin">{{ story.article }}</p>
    </div>
  </article>
</li>
{% endfor %}
