{% for t in testimonials reversed %}
{% assign delay_count = delay_count | plus: 100 %}
<li data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <article class="row">
    <div class="col col--1of6">
      {% if t.img %}
      <figure class="portrait portrait--circular">
        <img src="/img/{{ t.img }}" alt="{{ t.img_alt }}"/>
      </figure>
      {% endif %}
    </div>
    <div class="col col--2of3">
      <p class="label">About {{ t.product }}</p>
      <h2 class="type-3">{{ t.name }}</h2>
      <blockquote>
        <p>“{{ t.quote }}”</p>
      </blockquote>
      <p>&mdash; {{ t.role }}{% if t.affiliation %} at {{ t.affiliation }}{% endif %}</p>
      {% if t.aff_logo %}
      <a href="{{ t.aff_url }}" title="{{ t.affiliation }}’s site" target="_blank" rel="noopener" class="block-link" style="width: 150px; height: auto;">
        {% include t.aff_logo %}
      </a>
      {% endif %}
    </div>
  </article>
</li>
{% endfor %}
