{% for tool in tools %}
{% assign delay_count = delay_count | plus: 50 %}
<li class="col col--1of3 card-wrapper" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
  <p class="label label--secondary line-thru">
    <small class="line-thru__inner bg-white label">{{ tool.label }}</small>
  </p>
  <article class="flex-col flex-space-between card">
    <h2 class="card__header font-serif-bold">{{ tool.name }}</h2>
    <div class="card__body">
      <p>{{ tool.description }}</p>
      <p class="no-margin"><a href="{{ tool.url }}" target="_blank" rel="noopener">{{ tool.cta }}</a></p>
    </div>
  </article>
</li>
{% endfor %}
