---
layout: layouts/base.liquid
theme: dark
---
<nav class="subnav">
  <ul class="tabs">
    <li class="tab{% if page.url == '/impact/' %} tab--active{% endif %}">
      <a href="/impact/" class="label">Impact</a>
    </li>
    <li class="tab{% if page.url == '/impact/stories/' %} tab--active{% endif %}">
      <a href="/impact/stories/" class="label">Stories</a>
    </li>
  </ul>
</nav>
<section class="row data-file{% if theme != 'dark' %} bg-white{% endif %}">
  <header class="col col--2of3" data-sal="slide-up">
    <h1>{{ title }}</h1>
    <p>{{ meta_description }}</p>
  </header>
  <div class="col data-file__content">
    <ul class="row">
      {% assign delay_count = 0 %}
      {% for story in stories %}
      {% assign delay_count = delay_count | plus: 50 %}
      <li class="col col--1of3" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
        <article class="flex-col flex-space-between card card--small">
          <header class="card__header">
            <h3 class="label">OA.W<span style="text-transform: lowercase;">orks for</span> {{ story.label }}</h3>
          </header>
          <figure>
            <img src="{{ site.base_url }}/img/stories/{{ story.img }}" alt="{{ story.img_alt }}" class="card__img"/>
            <figcaption><small>{{ story.img_credit }}</small></figcaption>
          </figure>
          <div class="card__body">
            <blockquote>
              <p>“{{ story.content }}”</p>
            </blockquote>
            <p><small class="label label--secondary">Written in search of</small></p>
            <p class="font-serif type-5">{{ story.article }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
