---
layout: layouts/base.liquid
body_class: header-left
---

<section class="section section--horizontal row {{ content_layout }}{% if theme != 'dark' %} bg-white{% endif %}">
  <header class="col col--1of3">
    <div class="{{ content_layout }}__header-wrapper">
      <h1>{{ title }}</h1>
      {% if meta_description %}<p>{{ meta_description }}</p>{% endif %}
      {% include 'snippets/ellipsis.liquid' %}

      {% if content_layout != 'markdown' %}
      <div style="margin-top: var(--space-md);">
        {{ content }}
      </div>
      {% endif %}
    </div>
  </header>

  <div class="col col--2of3 {{ content_layout }}__content">
    {% if content_layout == 'list' %}
      {% include 'layouts/content/list.liquid' %}

    {% elsif content_layout == 'cards' %}
      {% include 'layouts/content/cards.liquid' %}

    {% else %}
      {% include 'layouts/content/markdown.liquid' %}
    {% endif %}
  </div>
</section>
