<footer class="row footer">
  <a class="top" href="#top" id="topBtn" aria-label="Back to top">
    <span class="top__icon">&#8593;</span>
  </a>

  <nav class="col col--2of3">
    <div class="row">
      <div class="col col--1of2">
        <h2 class="label">Products</h2>
        <ul>
          {% for product in products %}
          <li>
            <a href="{{ product.url }}"{% if product.url contains 'https' %} target="_blank" rel="noopener"{% endif %}>
              {{ product.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <h2 class="label">People</h2>
        <ul>
          {% for item in navigation.people %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col col--1of2">
        <h2 class="label">About</h2>
        <ul>
          {% for item in navigation.about %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
        <hr/>
        <h2 class="label">Impact</h2>
        <ul>
          {% for item in navigation.impact %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col footer__legal">
        <h2 class="sr-only">Resources</h2>
        <ul>
          {% for item in navigation.resources %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="col col--1of3 flex-end flex-col footer__logo">
    <a href="/" style="display: block; margin-bottom: var(--space-md);">{% include 'logos/logotype.svg' %}</a>
    <p class="type-6 align-right">
      <small>
        <a href="https://github.com/OAButton/" target="_blank" rel="noopener">Open source</a> • Community-controlled • Not-for-profit
      </small>
    </p>
  </div>
</footer>
