<header class="header{% if theme == 'dark' %} header--inverted{% endif %}" id="header">
  <a href="{{ baseurl }}/" title="Return to home page" class="header__logo">
    <h1 class="no-margin">{% include 'logos/logotype.svg' %}</h1>
  </a>

  <button class="menu-trigger" aria-label="Open menu" id="menuBtn">
    <span class="menu-trigger__icon"></span>
    <span class="menu-trigger__icon"></span>
    <span class="menu-trigger__icon"></span>
  </button>

  <nav class="header__nav">
    <h2 class="sr-only">Table of contents</h2>
    <ul>
      <li>
        <a href="{{ base_url }}/#products" class="header__nav-section">Products</a>
        <ul>
          {% for product in products %}
          <li>
            <a href="{{ product.url }}" target="_blank" rel="noopener" class="header__nav-subsection">
              {{ product.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <span class="header__nav-section">People</span>
        <ul>
          <li>
            <a href="{{ base_url }}/people/" class="header__nav-subsection">
              Team
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/people/partners" class="header__nav-subsection">
              Partners
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span class="header__nav-section">Impact</span>
        <ul>
          <li>
            <a href="{{ base_url }}/impact/" class="header__nav-subsection">
              Impact
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/impact/stories/" class="header__nav-subsection">
              Stories
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/impact/testimonials" class="header__nav-subsection">
              Testimonials
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span class="header__nav-section">About</span>
        <ul>
          <li>
            <a href="{{ base_url }}/about/" class="header__nav-subsection">
              About
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/about/vision/" class="header__nav-subsection">
              Vision
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/about/values/" class="header__nav-subsection">
              Values
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/about/history/" class="header__nav-subsection">
              History
            </a>
          </li>
        </ul>
      </li>
      <li>
        <span class="header__nav-section">Resources</span>
        <ul>
          <li>
            <a href="{{ base_url }}/resources/governance/" class="header__nav-subsection">
              Governance
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/resources/preservation/" class="header__nav-subsection">
              Succession & contingency plan
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/resources/openness/" class="header__nav-subsection">
              Openness policy
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/resources/privacy/" class="header__nav-subsection">
              Privacy policy
            </a>
          </li>
          <li>
            <a href="{{ base_url }}/resources/terms/" class="header__nav-subsection">
              Terms & conditions
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<svg width="768" height="768" viewBox="0 0 768 768" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="introellipse" class="lazy-line-painter" style="position: fixed; right: -10vw; z-index: -1;">
  <circle cx="384" cy="384" r="309" data-llp-id="introellipse-0" data-llp-duration="3000" data-llp-delay="0" fill-opacity="0" stroke-opacity="0"/>
</svg>

<svg width="868" height="750" viewBox="0 0 868 750" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="introtriangle" class="lazy-line-painter" style="position: fixed; top: 25vh; right: -15vw; z-index: -1; transform: scaleX(-1);">
  <path d="M130.891 675L434 150L737.109 675H130.891Z" data-llp-id="introtriangle-0" data-llp-duration="3000" data-llp-delay="0" fill-opacity="0" stroke-opacity="0"/>
</svg>
