<header class="flex-space-between header{% if theme == 'dark' %} header--inverted{% endif %}" id="header">
  <a href="{{ baseurl }}/" title="Return to home page" class="header__logo" id="headerLogo">
    <h1 class="no-margin">{% include 'logos/logotype.svg' %}</h1>
  </a>

  <ul class="header__featured-items">
    {% for item in navigation %}
      {% for subitem in item[1] %}
        {% if subitem.featured %}
          <li><a href="{{ site.base_url }}{{ subitem.url }}" class="label">{{ subitem.text }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <div>
    <button class="menu-trigger" aria-label="Open menu" id="menuBtn">
      <span class="menu-trigger__icon"></span>
      <span class="menu-trigger__icon"></span>
      <span class="menu-trigger__icon"></span>
    </button>
  </div>

  <nav class="row header__nav">
    <h2 class="sr-only">Table of contents</h2>
    <div class="flex" style="width: 100%;">
      <ul class="header__list">
        <li>
          <a href="{{ site.base_url }}/#products" class="header__nav-section">Products</a>
          <ul>
            {% for product in products %}
            {% if product.featured %}
            <li>
              <a href="{{ product.url }}" class="header__nav-subsection"{% if product.url contains 'https' %} target="_blank" rel="noopener"{% endif %}>
                {{ product.name }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
            {% for item in navigation.products %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">People</span>
          <ul>
            {% for item in navigation.people %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="header__list">
        <li>
          <span class="header__nav-section">About</span>
          <ul>
            {% for item in navigation.about %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">Impact</span>
          <ul>
            {% for item in navigation.impact %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <form>
      <label for="newsletter-signup">Sign up to our newsletter</label>
      <div class="flex">
        <input type="text" name="newsletter-signup" id="newsletter-signup"/>
        <button type="submit">Sign up</button>
      </div>
    </form>
    <ul>
      <li>
        <span class="header__nav-section">Resources</span>
        <ul class="inlined-list">
          {% for item in navigation.resources %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>
