<header class="header{% if theme == 'dark' %} header--inverted{% endif %}" id="header">
  <a href="{{ baseurl }}/" title="Return to home page" class="header__logo">
    <h1 class="no-margin">{% include 'logos/logotype.svg' %}</h1>
  </a>

  <ul class="header__featured-items">
    {% for item in navigation %}
      {% for subitem in item[1] %}
        {% if subitem.featured %}
          <li><a href="{{ site.base_url }}{{ subitem.url }}" class="label">{{ subitem.text }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <button class="menu-trigger" aria-label="Open menu" id="menuBtn">
    <span class="menu-trigger__icon"></span>
    <span class="menu-trigger__icon"></span>
    <span class="menu-trigger__icon"></span>
  </button>

  <nav class="row header__nav">
    <h2 class="sr-only">Table of contents</h2>
    <div class="flex" style="width: 100%;">
      <ul class="header__list">
        <li>
          <a href="{{ site.base_url }}/#products" class="header__nav-section">Products</a>
          <ul>
            {% for product in products %}
            <li>
              <a href="{{ product.url }}" class="header__nav-subsection"{% if product.url contains 'https' %} target="_blank" rel="noopener"{% endif %}>
                {{ product.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">People</span>
          <ul>
            {% for item in navigation.people %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="header__list">
        <li>
          <span class="header__nav-section">About</span>
          <ul>
            {% for item in navigation.about %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <span class="header__nav-section">Impact</span>
          <ul>
            {% for item in navigation.impact %}
            <li>
              <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
                {{ item.text }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <form>
      <label for="newsletter-signup">Sign up to our newsletter</label>
      <div class="flex">
        <input type="text" name="newsletter-signup" id="newsletter-signup"/>
        <button type="submit">Sign up</button>
      </div>
    </form>
    <ul>
      <li>
        <span class="header__nav-section">Resources</span>
        <ul class="inlined-list">
          {% for item in navigation.resources %}
          <li>
            <a href="{{ site.base_url }}/{{ item.url }}" class="header__nav-subsection">
              {{ item.text }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</header>

<svg width="768" height="768" viewBox="0 0 768 768" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="introellipse" class="lazy-line-painter" style="position: fixed; right: -10vw; z-index: -1;">
  <circle cx="384" cy="384" r="309" data-llp-id="introellipse-0" data-llp-duration="3000" data-llp-delay="0" fill-opacity="0" stroke-opacity="0"/>
</svg>

<svg width="868" height="750" viewBox="0 0 868 750" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="introtriangle" class="lazy-line-painter" style="position: fixed; top: 25vh; right: -15vw; z-index: -1; transform: scaleX(-1);">
  <path d="M130.891 675L434 150L737.109 675H130.891Z" data-llp-id="introtriangle-0" data-llp-duration="3000" data-llp-delay="0" fill-opacity="0" stroke-opacity="0"/>
</svg>
