{% comment %}Layouts for Markdown content{% endcomment %}

{% comment %}Datafile-based pages are displayed with a left sidebar{% endcomment %}
{%- if data_file -%}
<section class="row data-file{% if theme != 'dark' %} bg-white{% endif %}">
  <header class="col col--1of3" data-aos="fade-up">
    <h1>{{ title }}</h1>
    <p>{{ meta_description }}</p>
  </header>
  <div class="col col--2of3">
    <div class="col col--group col--2of3 data-file__content">
      {{ content }}
    </div>
    {% assign dir = "snippets/" %}
    {% assign ext = ".liquid" %}
    {% assign data_file = data_file | prepend: dir %}
    {% include {{ data_file | append: ext }} %}
  </div>
</section>

{%- else -%}
  {% comment %}If there’s a hero heading:{% endcomment %}
  {%- if hero_heading_1 -%}
  <section class="section section--quarter">
    <div class="row">
      <header class="col col--1of4" data-aos="fade-up">
        <h2>{{ hero_heading_1 }}</h2>
      </header>
      <p class="col col--1of4" data-aos="fade-up" data-aos-delay="100">
        {{ hero_content_1 }}
      </p>
      <header class="col col--1of4" data-aos="fade-up" data-aos-delay="200">
        <h2>{{ hero_heading_2 }}</h2>
      </header>
      <p class="col col--1of4" data-aos="fade-up" data-aos-delay="300">
        {{ hero_content_2 }}
      </p>
    </div>
  </section>
  {%- endif -%}

  <section class="row markdown{% if theme != 'dark' %} bg-white{% endif %}">
    <header class="col col--1of3 markdown__header">
      <h1 data-aos="fade-up">{{ title }}</h1>
    </header>

    <div class="col col--1of2 markdown__content">
      <section data-aos="fade-up" data-aos-delay="100">
        {{ content }}
      </section>
    </div>
  </section>
{%- endif -%}


{%- if request_stories -%}{% include 'snippets/stories.liquid' %}{%- endif -%}
