<article class="col col--1of2 flex-center flex-col fade">
  <p class="label">{{ product.label }}</p>
  <h3 class="font-serif" style="border-bottom: 3px solid var(--{{ product.colour }}); padding-bottom: var(--space-sm);">{{ product.tagline }}</h3>
  <p>{{ product.description }}</p>
  <p style="margin-top: var(--space-xxl);">
    <a href="{{ product.url }}"
       target="_blank"
       rel="noopener"
       class="button button--secondary button--custom"
       style="--custom-colour: var(--{{ product.colour }});"
    >
      {{ product.cta }}
    </a>
  </p>
</article>
