<section class="section bg-black section--half">
  <div class="row">
    <header class="col col--2of3" data-aos="fade-up">
      <h2>Why we work for Open</h2>
      <p style="margin-bottom: var(--space-xl);"><a href="/impact/stories" class="button">More stories 👉</a></p>
    </header>
  </div>
  <ul class="row">
    {% assign delay_count = 0 %}
    {% for story in stories limit:3 %}
    {% assign delay_count = delay_count | plus: 50 %}
    <li class="col col--1of3" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
      <article class="card card--small">
        <header class="card__header">
          <h3 class="label">OA.W<span style="text-transform: lowercase;">orks for</span> {{ story.label }}</h3>
        </header>
        <figure>
          <img src="{{ site.base_url }}/img/stories/{{ story.img }}" alt="{{ story.img_alt }}" class="card__img"/>
          <figcaption><small>{{ story.img_credit }}</small></figcaption>
        </figure>
        <div class="card__body">
          <blockquote style="margin: 0 0 var(--space-sm) 0;">
            <p>“{{ story.content }}”</p>
          </blockquote>
          <p><small class="label label--secondary">Written in search of</small></p>
          <p class="font-serif type-5">{{ story.article }}</p>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
