---
layout: layouts/base.liquid
---

{{ content }}

{% comment %}If there’s a hero heading:{% endcomment %}
{%- if hero_heading_1 -%}
<section class="section bg-black section--quarter">
  <div class="row">
    <header class="col col--1of4" data-aos="fade-up">
      <h2>{{ hero_heading_1 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="100">
      {{ hero_content_1 }}
    </p>
    <header class="col col--1of4" data-aos="fade-up" data-aos-delay="200">
      <h2>{{ hero_heading_2 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="300">
      {{ hero_content_2 }}
    </p>
  </div>
</section>

<section class="section bg-white markdown">
  <div class="row row--centered">
    <div class="col col--1of2" data-aos="fade-up">
      <h1>{{ title }}</h1>
      {{ content }}
    </div>
  </div>
</section>

{% comment %}Datafile-based pages are displayed with a left sidebar{% endcomment %}
{%- elsif data_file -%}
<section id="values" class="section section--half bg-black" style="padding-bottom: 0;">
  <header data-aos="fade-up">
    <h1>{{ title }}</h1>
    <p>{{ meta_description }}</p>
  </header>
  <div class="row{% if theme == 'dark' %} bg-black{% endif %}">
    {% assign dir = "snippets/" %}
    {% assign ext = ".liquid" %}
    {% assign data_file = data_file | prepend: dir %}
    {% include {{ data_file | append: ext }} %}
  </div>
</section>

{%- else -%}
<section class="section bg-white markdown">
  <div class="row row--centered">
    <div class="col col--1of2" data-aos="fade-up">
      <h1>{{ title }}</h1>
      {{ content }}
    </div>
  </div>
</section>
{%- endif -%}
