---
layout: layouts/base.liquid
---

<header style="margin-top: var(--space-md);">
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/people/' %} tab--active{% endif %}">
        <a href="/people/" class="label">Team</a>
      </li>
      <li class="tab{% if page.url == '/people/partners/' %} tab--active{% endif %}">
        <a href="/people/partners/" class="label">Partners</a>
      </li>
      <li class="tab{% if page.url == '/people/funders/' %} tab--active{% endif %}">
        <a href="/people/funders/" class="label">Funders</a>
      </li>
    </ul>
  </nav>
</header>

{% comment %}If there’s a hero heading:{% endcomment %}
{%- if hero_heading_1 -%}
<section class="section bg-black section--quarter">
  <div class="row">
    <header class="col col--1of4" data-aos="fade-up">
      <h2>{{ hero_heading_1 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="100">
      {{ hero_content_1 }}
    </p>
    <header class="col col--1of4" data-aos="fade-up" data-aos-delay="200">
      <h2>{{ hero_heading_2 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="300">
      {{ hero_content_2 }}
    </p>
  </div>
</section>

<section class="row bg-white">
  <header class="col col--1of3">
    <h1 style="margin-top: var(--space-md);">{{ title }}</h1>
  </header>

  <div class="col col--1of2" style="border-left: 1px solid;" data-aos="fade-up">
    <section class="markdown" style="margin-top: var(--space-md); padding-top: 0;">
      {{ content }}
    </section>
  </div>
</section>

{%- elsif data_file -%}
<section id="values" class="row bg-white" style="padding-top: var(--space-md); padding-bottom: 0;">
  <header class="col col--1of3" data-aos="fade-up">
    <h1>{{ title }}</h1>
    <p>{{ meta_description }}</p>
  </header>
  <div class="col col--2of3">
    {% assign dir = "snippets/" %}
    {% assign ext = ".liquid" %}
    {% assign data_file = data_file | prepend: dir %}
    {% include {{ data_file | append: ext }} %}
  </div>
</section>

{%- else -%}
<section class="row bg-white">
  <header class="col col--1of3">
    <h1 style="margin-top: var(--space-md);">{{ title }}</h1>
  </header>

  <div class="col col--1of2" style="border-left: 1px solid;" data-aos="fade-up">
    <section class="markdown" style="margin-top: var(--space-md); padding-top: 0;">
      {{ content }}
    </section>
  </div>
</section>
{%- endif -%}
